:root {
    --font: normal 400 14px/1.5 -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, Consolas, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background: #fff;
    --color: #2a2a2a;

    --theme-color: #343434;
    --theme-color-vice: #1a1a1a;
    --theme-color-reverse: #fff;
    --theme-color-active: #568eff;

    --gap: 12px;
    
    --radius: 2px;
    --transition-duration: .24s;
    --transition: var(--transition-duration) ease;
    --shadow: 0 4px 12px rgba(0,0,0,.15);
    --scrollbar: #e1e1e1;

    --input: #ececec;
    --input-hover: #f1f1f1;
    --input-focus: #f3f3f3;
    --input-color: inherit;

    --black: #1a1a1a;
    --black-vice: #000;

    --white: #fff;
    --white-vice: #f5f7fa;

    --blue: #258de6;
    --blue-vice: #1b96ff;

    --yellow: #ffd832;
    --yellow-vice: #fcea4d;

    --green: #2ab465;
    --green-vice: #37c574;

    --red: #dd0a35;
    --red-vice: #f71735;
}
.theme-dark {
    --background: #313131;
    --color: #fff;

    --theme-color: #ffd832;
    --theme-color-vice: #fcea4d;
    --theme-color-reverse: #212121;
    --shadow: 0 0 0 2px rgba(255,255,255,.1);

    --input: #6a6a6a;
    --input-hover: #4a4a4a;
    --scrollbar: #5a5a5a;
}

  
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,p,article,section,body{line-height: 1.5}
a{ color: inherit; text-decoration: none; cursor: pointer; transition: var(--transition); }
b,strong{ font-weight: 700; }
html{ position: relative; height: 100%; background: var(--background); color: var(--color); font: var(--font);  overflow-x: hidden; scroll-behavior: smooth; }
input, button, textarea, select{ font: inherit; }
input:-webkit-autofill{ background-color: initial; }
ul,li,ol{ list-style: none; }
img,video,audio,iframe{ margin: auto; max-height: 100%; max-width: 100%; transition: var(--transition); }
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }
.iconfont{ font-size: 1em; }
::selection{background-color:#ffd57b !important;color:#2a2a2a !important}

.vsm-windows *::-webkit-scrollbar{ width: 6px; height: 6px; }
.vsm-windows *::-webkit-scrollbar-thumb{ background-color: var(--scrollbar); border: 1px solid transparent; cursor: pointer; }

.vsm-container {
    position: absolute;
    box-sizing: border-box;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow: hidden;
}
.vsm-content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: var(--gap);
    width: 780px;
    max-width: 100%;
}

.vsm-drawer {
    position: absolute;
    z-index: 10;
    left: 0; top: 0; bottom: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    transition: var(--transition);
    will-change: transform;
}
.vsm-drawer.vsm-hidden {
    pointer-events: none;
    opacity: 0;
}
.vsm-drawer-backdrop {
    position: fixed;
    width: 100%; height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(12px);
}
.vsm-hidden > .vsm-drawer-inner {
    transform: translate(-100%, 0);
}
.vsm-drawer-top {
    bottom: auto; right: 0;
}
.vsm-drawer-top.vsm-hidden > .vsm-drawer-inner {
    transform: translate(0, -100%);
}
.vsm-drawer-right {
    left: auto; right: 0;
}
.vsm-drawer-right.vsm-hidden > .vsm-drawer-inner {
    transform: translate(100%, 0);
}
.vsm-drawer-bottom {
    top: auto; right: 0;
}
.vsm-drawer-bottom.vsm-hidden > .vsm-drawer-inner {
    transform: translate(0, 100%);
}
.vsm-drawer-bottom > .vsm-drawer-inner {
    margin-top: auto;
}
.vsm-drawer-right > .vsm-drawer-inner {
    margin-left: auto;
}
.vsm-drawer-left > .vsm-drawer-inner,
.vsm-drawer-right > .vsm-drawer-inner {
    display: inline-block;
    height: 100%;
}
.vsm-drawer-top > .vsm-drawer-inner,
.vsm-drawer-bottom > .vsm-drawer-inner {
    width: 100%;
}
.vsm-drawer-inner {
    box-sizing: border-box;
    transition: var(--transition);
    background: var(--background);
}

.vsm-checkbox,
.vsm-radio {
    position: relative;
    transition: var(--transition);
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
	appearance: none;
    cursor: inherit;
}
.vsm-checkbox-label,
.vsm-radio-label {
    margin: calc(var(--gap)/2);
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.vsm-checkbox-label span {
    transition: var(--transition);
}
.vsm-checkbox:hover,
.vsm-radio:hover {
    background: var(--input-hover);
}
.vsm-checkbox {
    border-radius: var(--radius);
    background: var(--input);
}
.vsm-checkbox-normal {
    margin-right: 0.5em;
    height: 1.2em;
    width: 1.2em;
    overflow: hidden;
    border: 1px solid transparent;
}
.vsm-checkbox-slide {
    margin-right: 0.5em;
    height: 1.2em;
    width: 3em;
}
.vsm-checkbox:checked {
    background: var(--theme-color-active);
}
.vsm-checkbox:after {
    content: '\20';
    position: absolute;
    transition: var(--transition);
}
.vsm-checkbox-text:checked + span {
    color: var(--theme-color-active);
}
.vsm-checkbox-normal:after {
    left: 34%; top: 15%;
	height: 50%; width: 20%;
    border-bottom: 1.5px solid var(--background);
    border-right: 1.5px solid var(--background);
    transform: rotate(90deg) scale(0);
}
.vsm-checkbox-normal:checked:after {
    transform: rotate(45deg);
}
.vsm-checkbox-slide:after {
    left: 50%; top: 0;
    width: 50%; height: 130%;
    background: var(--background);
    box-shadow: var(--shadow);
    border-radius: inherit;
    transform: translate(0, -11.54%);
}
.vsm-checkbox-slide:checked:after {
    transform: translate(-105%, -11.54%);
}

.vsm-btn {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: var(--radius);
    background: var(--theme-color);
    color: var(--theme-color-reverse);
    border: 1px solid transparent;
    text-align: center;
    transition: var(--transition);
    user-select: none;
    cursor: pointer;
    align-self: center;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
}
.vsm-btn-loading {
    pointer-events: none;
}
.vsm-btn.vsm-plain {
    background: transparent;
    border-color: transparent !important;
    color: var(--color);
}
.vsm-btn.vsm-reverse {
    background: transparent;
    border-color: var(--theme-color);
    color: var(--theme-color);
}
.vsm-btn:hover {
    background: var(--theme-color-vice);
    border-color: transparent;
    color: var(--theme-color-reverse);
}
.vsm-btn:disabled {
    opacity: .5;
    pointer-events: none;
}

.vsm-tabs-navs {
    position: relative;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    text-align: center;
    user-select: none;
    scroll-behavior: initial;
    border-radius: var(--radius);
}
.vsm-tabs-navs::-webkit-scrollbar { display: none; }
.vsm-tabs-nav {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    padding: 8px 10px;
    opacity: 0.4;
    border-radius: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}
.vsm-tabs-nav:hover,
.vsm-tab-active {
    opacity: 1;
}
.vsm-tabs-nav .vsm-close {
    position: absolute;
    left: 100%;
    padding: 0 4px;
    line-height: inherit;
    background: var(--background);
    color: var(--red);
    border-radius: inherit;
}
.vsm-tabs-nav:hover .vsm-close {
    transition: var(--transition) .4s;
    transform: translate(-100%, 0);
}
.vsm-tabs-nav[disabled] {
    pointer-events: none;
    opacity: 0.2;
}
.vsm-tabs-bar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: var(--theme-color);
    border-radius: inherit;
    transition: var(--transition) .1s;
    will-change: transform;
    pointer-events: none;
}
/* https://www.jianshu.com/p/59c45d7e9a76 */
.vsm-table {
    overflow: auto;
}
.vsm-table table {
    min-width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.vsm-table thead th {
    background: rgba(0,0,0,.1);
}
.vsm-table th,
.vsm-table td {
    position: relative;
    padding: 10px 12px;
    background: inherit;
    border: 1px solid transparent;
    transition: var(--transition);
}
.vsm-table tr {
    transition: var(--transition);
}
.vsm-table tr:hover td {
    background: rgba(0,0,0,.05);
}

.vsm-black {
    background: var(--black);
    color: var(--white);
}
.vsm-black.vsm-reverse {
    background: transparent;
    color: var(--black);
    border-color: var(--black);
}
.vsm-btn.vsm-black:hover {
    background: var(--black-vice);
    color: var(--white);
}
.vsm-blue {
    background: var(--blue);
    color: var(--white);
}
.vsm-blue.vsm-reverse {
    background: transparent;
    color: var(--blue);
    border-color: var(--blue);
}
.vsm-btn.vsm-blue:hover {
    background: var(--blue-vice);
    color: var(--white);
}
.vsm-red {
    background: var(--red);
    color: var(--white);
}
.vsm-red.vsm-reverse {
    background: transparent;
    color: var(--red);
    border-color: var(--red);
}
.vsm-btn.vsm-red:hover {
    background: var(--red-vice);
    color: var(--white);
}
.vsm-green {
    background: var(--green);
    color: var(--white);
}
.vsm-green.vsm-reverse {
    background: transparent;
    color: var(--green);
    border-color: var(--green);
}
.vsm-btn.vsm-green:hover {
    background: var(--green-vice);
    color: var(--white);
}
.vsm-yellow {
    background: var(--yellow);
    color: var(--black);
}
.vsm-yellow.vsm-reverse {
    background: transparent;
    color: var(--yellow);
    border-color: var(--yellow);
}
.vsm-btn.vsm-yellow:hover {
    background: var(--yellow-vice);
    color: var(--black);
}

.vsm-tree {
    position: relative;
    user-select: none;
}
.vsm-tree-node {
    display: flex;
    padding: 6px var(--gap);
}
.vsm-tree-node > [node-name] {
    flex: 1 1 0;
}
.vsm-tree-node:hover {
    background-color: #5a80fc1a;
}
.vsm-tree-node + ul {
    box-sizing: border-box;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: var(--transition);
}
.vsm-tree-open + ul {
    height: unset;
    padding: 0 0 0 var(--gap);
}

.vsm-reverse > .vsm-loading,
.vsm-plain > .vsm-loading {
    background: var(--background);
}
.vsm-loading {
    position: absolute;
    z-index: 1;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    background: inherit;
    border-radius: inherit;
    cursor: default;
}
.vsm-loading:before,
.vsm-loading:after {
    content: '⬤';
    font-size: .8em;
    line-height: 1;
    color: inherit;
    transform: scale(0);
    transition: var(--transition);
}
.vsm-loading:before {
    margin: auto -1em auto 0;
    animation: loading 1s linear infinite;
}
.vsm-loading:after {
    margin: auto 0 auto -1em;
    opacity: .8;
    animation: loading 1s linear .15s infinite;
}
.vsm-cols {
    display: flex;
    flex-wrap: wrap;
}
.vsm-rows {
    display: flex;
    flex-direction: column;
}
[class*='vsm-col-'],
.vsm-n {
    position: relative;
    box-sizing: border-box;
    transition: var(--transition);
}
.vsm-gapped {
    margin: 0 calc(var(--gap)/-2);
}
.vsm-gapped > [class*='vsm-col-'],
.vsm-gapped > .vsm-n {
    padding: calc(var(--gap)/2);
}
.vsm-col-1 { width: 10%; }
.vsm-col-2 { width: 20%; }
.vsm-col-25 { width: 25%; }
.vsm-col-3 { width: 30%; }
.vsm-col-33 { width: 33.3333%; }
.vsm-col-4 { width: 40%; }
.vsm-col-5 { width: 50%; }
.vsm-col-6 { width: 60%; }
.vsm-col-66 { width: 66.6666%; }
.vsm-col-7 { width: 70%; }
.vsm-col-75 { width: 75%; }
.vsm-col-8 { width: 80%; }
.vsm-col-9 { width: 90%; }
.vsm-col-x { width: 100%; }
.vsm-n { flex: 1 1 0; }
.vsm-left { margin-right: auto; }
.vsm-right { margin-left: auto; }

.vsm-round { border-radius: 100px; }

@keyframes loading { 50%{ transform: scale(1); } }